.App {
    display: grid;
    grid-template-areas: "a a" "b c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 15px;
    background-color: #ffe4d5;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
